@use '../abstracts/' as var;
@use '../layouts/' as layout;
@use '../layouts' as mediaquery;

.navbar {
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 1.7rem;
  transition: transform 1s;
  @include layout.flex-sb;

  &__logo {
    a {
      font-size: 1.6rem;
      color: #fff;
      display: flex;
      @include layout.flex-center;
    }

    img {
      width: 3rem;
    }

    p {
      text-transform: uppercase;
      font-weight: var.$font-700;
      margin-left: 0.652rem;
    }
  }

  &__menu {
    font-weight: var.$font-400;
    display: none;
    @include layout.flex-center;

    @include mediaquery.min-width-breakpoints(laptop) {
      display: flex;
    }

    li {
      margin: 1rem;
      a {
        color: #fff;
        text-transform: uppercase;
      }
      &:nth-child(6) {
        @include mediaquery.min-width-breakpoints(laptop) {
          display: none;
        }
      }
    }
  }

  &__location {
    display: none;
    font-weight: var.$font-400;

    @include mediaquery.min-width-breakpoints(laptop) {
      display: flex;
    }

    a {
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.9rem;
    cursor: pointer;

    @include mediaquery.min-width-breakpoints(laptop) {
      display: none;
    }

    span {
      width: 2rem;
      height: 0.3rem;
      background: #fff;
      transition: all 250ms ease;
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: translate(0px, 9px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(0, -7px) rotate(-45deg);
        }
      }
    }
  }
}
